<div id="home" class="span10 toppadding40">
    <div id="topblock">
        <h1>Welcome to Cheetah</h1>
    </div>
    <div id="middleblock" class="row-fluid">
        <div class="span4 blue-block transition percentpadding">
            <form>
                <fieldset>
                    <legend>Login Via Social...</legend>
                    <p class="social"><a id="btnFacebook" class="btn btn-small btn-primary"><i class="icon-facebook"></i> Facebook </a></p>
                    <p class="social"><a id="btnTwitter" class="btn btn-small btn-info"><i class="icon-twitter"></i> Twitter</a></p>
                    <p class="social"><a id="btnGoogle" class="btn btn-small btn-inverse "><i class="icon-google-plus"></i> Google</a></p>
                </fieldset>
            </form>
            <form>
                <fieldset>
                    <legend>Or the form below...</legend>
                    <input id="txtLoginEmail" name="email" type="text" class="input-block-level" placeholder="Your Email" />
                    <input id="txtLoginPassword" type="password" class="input-block-level" placeholder="Your Password" />
                    <a id="btnLogin" class="btn btn-inverse pull-right span4">Login</a>
                </fieldset>
            </form>
        </div>
        <div class="span4 blue-block transition percentpadding">
            <form>
                <fieldset>
                    <legend>Register here...</legend>
					<div class="control-group">
                        <label><i class="icon-star required-star"></i> First name <span class="label label-info"></span></label>
						<div class="controls">
                            <input id="txtRegisterFirstName" name="firstname"  type="text" class="input-block-level validate" />
						</div>
					</div>
					<div class="control-group">
                        <label><i class="icon-star required-star"></i> Last name <span class="label label-info"></span></label>
						<div class="controls">
                            <input id="txtRegisterLastName" name="lastname" type="text" class="input-block-level validate" />	
						</div>
					</div>
					<div class="control-group half-group">
                        <label>Date of Birth</label>
						<div class="controls">
                            <input id="txtRegisterDateOfBirth" name="dateOfBirth" type="text" class="span10" placeholder="dd/mm/yyyy" />
						</div>
					</div>
					<div class="control-group half-group">
                        <label>Gender</label>
						<div class="controls">
							<select id="ddlRegisterGender" name="gender" class="span12">
								<option value="MALE">Male</option>
								<option value="FEMALE">Female</option>
							</select>
						</div>
					</div>
                </fieldset>
            </form>
        </div>
        <div class="span4 blue-block transition percentpadding">
            <form>
                <fieldset>
                    <legend>Just a little more...</legend>
					<div class="control-group">
                        <label><i class="icon-star required-star"></i> Email <span class="label label-info"></span></label>
						<div class="controls">
                            <input id="txtRegisterEmail" name="email" type="text" class="input-block-level validate" />
						</div>
					</div>
					<div class="control-group password-control-group">
                        <label><i class="icon-star required-star"></i> Password <span class="label label-info"></span></label>
						<div class="controls">
                            <input id="txtRegisterPassword" type="password" class="input-block-level validate" />
						</div>
					</div>
					<div class="control-group password-control-group">
                        <label><i class="icon-star required-star"></i> Password <span class="label label-info"></span></label>
						<div class="controls">
							<input id="txtRegisterConfirmPassword" type="password" class="input-block-level validate" />
						</div>
					</div>
                </fieldset>
            </form>
        </div>
        <div id="divRegister" class="span8 transition percentpadding">
            <label class="checkbox inline span10">
                <input id="chbTerms" type="checkbox" name="terms" value="terms" />
                By checking the box and clicking "Join", I understand that I am joining Cheetah, and I have read and accept the Terms of Use Agreement and consent to the new Privacy Policy.
            </label>
            <button id="btnJoin" class="btn span2">Join</button>
        </div>
    </div>
    <div id="bottomblock" class="row-fluid">
        <div class="span12 blue-block transition percentpadding">
            <form>
                <fieldset>
                    <legend>Just a little about us...</legend>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                    <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                </fieldset>
            </form>
        </div>
    </div>
            
</div>