<div class="navbar-inner">
<div class="container-fluid">
    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </a>
    <a class="brand" href="#home" data-bypass="true">cheetah</a>
    <div class="nav-collapse collapse">
        <ul class="nav">
            <li><a href="#aboutus" data-bypass="true">About Us</a></li>
            <li><a href="#faq" data-bypass="true">FAQ</a></li>
            <li><a href="#contact" data-bypass="true">Contact</a></li>
        </ul>
        <p class="navbar-text pull-right">
            Welcome <a id="lnkName" href="#" class="navbar-link">Guest</a>
        </p>
    </div>
</div>
</div>