/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Font Styles
:: Base Styles
:: Home Styles
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Font Styles
----------------------------------------- */
.droid
{
    font-family:  DroidSansRegular;
}

.droid-bold
{
    font-family:  DroidSansBold;
}

.museo
{
    font-family: MuseoSlab500Regular;
}

.museo-italic {
	font-family: MuseoSlab500Italic
}


/* -----------------------------------------
   Base Styles
----------------------------------------- */
html {
	height: 100%;
    width: 100%;
}

body {
	/*font-family: DroidSansRegular, "Lucida Sans","Lucida Grande",sans-serif;*/
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	background: #F4F4F4 url(/img/subtle_grunge.png);
	color: #666;
    height: 100%;
}

h1,h2,h3,h4,h56 {
    /*font-family: MuseoSlab500Regular, "Lucida Sans","Lucida Grande",sans-serif;;*/
	color: #444;
}

a {
	color: #008dde;
}

a:hover {
	color: #0ca7ff;
}

p {
    font-size: 12pt;
}

legend + .control-group {
	margin-top: 0px;
}

.ui-pnotify-title {
    line-height: 10px;
}

.sidebar-nav {
    padding: 9px 0;
}

.btn {
    border-radius: 0px !important;
}

.tbpadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.largeblock {
    padding-top: 10px;
    padding-bottom: 20px;
	text-align: center;
}

.blue-block {
    /*background: #0084FF;
    opacity: 0.95;
    color: #EEE;*/
    color:#333;
    background:transparent;
    background: rgba(28, 150, 247, 0.3);
}

.blue-block:hover {
    background: #3DA1FF;
	color: #FFF;
}

.percentpadding {
	padding: 10px 25px 10px 25px;
}

.half-group {
	width: 49%;
	display: block;
	float: left;
	height: 65px;
}

.required-star {
	color: red;
	font-size: 8px;
	vertical-align: text-top;
}

/* -----------------------------------------
   Home Styles
----------------------------------------- */

#splashscreen {
    background: #F4F4F4 url(/img/subtle_grunge.png);
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: absolute;
    top: 0;
    left: 0;
}

    #splashscreen.exclude-menu {
        opacity: 0.7;
        
    }

    #splashscreen.exclude-menu h1 {
        color: #000
    }

#navbar {
    display:none;
}

#navbar .navbar-inner {
    background-image: linear-gradient(top, #FFFFFF 0%, #EEE 85%);
    background-image: -o-linear-gradient(top, #FFFFFF 0%, #EEE 85%);
    background-image: -moz-linear-gradient(top, #FFFFFF 50%, #EEE 85%);
    background-image: -webkit-linear-gradient(top, #FFFFFF 0%, #EEE 85%);
    background-image: -ms-linear-gradient(top, #FFFFFF 50%, #EEE 85%);
    padding: 0px;
}

    #navbar li {
        font-size: 18px;
    }

        #navbar li a {
            padding: 7.5px 15px 7.5px;
        }

#content {
    display:none;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

    #content .row-fluid:first-child {
        height: 100%;
    }

.toppadding40 {
    padding-top: 41px;
    padding-left: 30px;
}

    .toppadding40 .firstspan {
        margin-left: 0px;
    }

        #content .full-height {
            min-height: 100%;
            width: auto;
        }

    #content #rightcontent {
       background: #DDD;
       height: 100%;
       position: fixed;
       right: 0px;
       width: 14%;
    }

        #content #rightcontent .well {
            background: transparent;
            padding-top: 40px;
        }

        #content #rightcontent .badge {
            margin-right: 10px;
        }

#welcome {
    position: absolute;
    top: 50%;
    margin-top: -73px;
    width: 100%;
    text-align:center;
}

#home {

}

#about-container {
    background: #FF5252;
    color: #EEE;
}

#faq-container {
    background: #44BD61;
    color: #000;
}

#contact-container {
    background: #0084FF;
    color: #EEE;
}

#topblock {
    padding: 1% 2% 1% 0%;
    color: #EEE;
    margin-bottom: 1%;
}

#middleblock {
    margin-bottom: 3%;
}

    #middleblock .control-group label {
        position: relative;
    }

    #middleblock .label-info {
	    padding: 2px 5px 2px 5px;
	    position: absolute;
        right: 0px;
        top: 20px;
    }


.social {
    width: 97%;
    clear: both;
    margin-right: 0px;
    margin-bottom: 0px;
}

    .social a {
        width:100%;
        clear: both;
        font-size: 14pt;
    }

#divRegister {
    position:relative;
    margin-top: 1%;
    background: #333;
    color: #FFF;
}

    #divRegister:hover {
        background: #444;
	    color: #FFF;
	}

    #divRegister #btnJoin {
        position: absolute;
        vertical-align: text-bottom;
        right: 25px;
        top: 50%;
        margin-top: -22px;
    }



/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.transition {
	-webkit-transition: .5s all;  
	-moz-transition: .5s all;   
	-o-transition: .5s all;   
	transition: .5s all;
    animation-delay: 5s;
    transition-delay: 5s;
}

.brown-bg {
	background-color: #272727;
	border-top: 1px solid #090706;
	color: #FFF;
}


/* -----------------------------------------
   Device Styles
----------------------------------------- */

@media (min-width: 1200px) {  
    #navbar .navbar-inner {
        padding: 0px;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 

    #navbar {
        position: fixed;
        padding: 0px;
    }

        #navbar .navbar-inner {
            padding: 0px;
        }

    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        padding-left: 5px;
        padding-right: 5px;
    }

    #middleblock fieldset legend {
        font-size: 18px;
    }

    #divRegister .checkbox {
        line-height: 20px;
        font-size: 13px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 

    #navbar {
        position: fixed;
        margin: 0px;
    }

        #navbar .navbar-inner {
            padding: 0px 5px 0px 5px;
        }

    #divRegister #btnJoin {
        position: relative;
        margin-top: 10px;
        right: auto;
    }

    #content .full-height {
        height: auto;
    }
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
    
    #navbar {
        position: fixed;
        margin: 0px;
    }

        #navbar .navbar-inner {
            padding: 0px 5px 0px 5px;
        }

    #divRegister #btnJoin {
        position: relative;
        margin-top: 10px;
        right: auto;
    }

    #content .full-height {
        height: auto;
    }
}
