/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Font Styles
:: Base Styles
:: Home Styles
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Font Styles
----------------------------------------- */
.droid
{
    font-family:  DroidSansRegular;
}

.droid-bold
{
    font-family:  DroidSansBold;
}

.museo
{
    font-family: MuseoSlab500Regular;
}

.museo-italic {
	font-family: MuseoSlab500Italic
}


/* -----------------------------------------
   Base Styles
----------------------------------------- */
html {
	height: 100%;
}

body {
	/*font-family: DroidSansRegular, "Lucida Sans","Lucida Grande",sans-serif;*/
	font-smooth: always;
	-webkit-font-smoothing: subpixel-antialiased;
	background: #F4F4F4 url(/img/subtle_grunge.png);
	color: #666;
    padding-top: 20px;
    padding-bottom: 60px;
}

h1,h2,h3,h4,h56 {
    /*font-family: MuseoSlab500Regular, "Lucida Sans","Lucida Grande",sans-serif;;*/
	color: #444;
}

a {
	color: #008dde;
}

a:hover {
	color: #0ca7ff;
}

p {
    font-size: 12pt;
}

legend + .control-group {
	margin-top: 0px;
}

.sidebar-nav {
    padding: 9px 0;
}

.btn {
    border-radius: 0px !important;
}

.tbpadding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.largeblock {
    padding-top: 10px;
    padding-bottom: 20px;
	text-align: center;
}

.blue-block {
    background: #65B5FF;
    opacity: 0.95;
    color: #EEE;
}

.blue-block:hover {
    background: #3DA1FF;
	color: #FFF;
}

.percentpadding {
	padding: 1.3%;
}

.half-group {
	width: 49%;
	display: block;
	float: left;
	height: 65px;
}

.required-star {
	color: red;
	font-size: 8px;
	vertical-align: text-top;
}

/* -----------------------------------------
   Home Styles
----------------------------------------- */
#navbar {
    
}

	#navbar .navbar-inner {
	    padding: 0px;
	}

	.navbar .nav .active > a {
		color: #DDD;
	}

#topblock {
    padding: 1% 2% 1% 0%;
    color: #EEE;
    margin-bottom: 1%;
}

#middleblock {
    margin-bottom: 3%;
}

#middleblock .label-info {
	padding: 2px 5px 2px 5px;
	float: right;
}
/*
#btnFacebook {
    background:#3B5998;
    color: #FFF;
}

#btnTwitter {
    background: #1CB5E8;
    color: #FFF;
}*/

#divRegister {
    position:relative;
    margin-top: 1%;
    background: #333;
    color: #FFF;
	height: 105px;
}

    #divRegister:hover {
        background: #444;
	    color: #FFF;
	}

    #divRegister #btnJoin {
        position: absolute;
        vertical-align: text-bottom;
        right: 1.0%;
        top: 50%;
        margin-top: -22px;
    }



/* -----------------------------------------
   Shared Styles
----------------------------------------- */
.transition {
	-webkit-transition: .5s all;  
	-moz-transition: .5s all;   
	-o-transition: .5s all;   
	transition: .5s all;
    animation-delay: 5s;
    transition-delay: 5s;
}

.brown-bg {
	background-color: #272727;
	border-top: 1px solid #090706;
	color: #FFF;
}


/* -----------------------------------------
   Device Styles
----------------------------------------- */

@media (min-width: 1200px) {  
    #navbar .navbar-inner {
        padding: 0px;
    }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
    body {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #navbar {
        position: fixed;
        padding: 0px;
    }

        #navbar .navbar-inner {
            padding: 0px;
        }

    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        padding-left: 5px;
        padding-right: 5px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
    #navbar {
        position: fixed;
        margin: 0px;
    }

        #navbar .navbar-inner {
            padding: 0px 5px 0px 5px;
        }
}
 
/* Landscape phones and down */
@media (max-width: 480px) { 
    #navbar {
        position: fixed;
        margin: 0px;
    }

        #navbar .navbar-inner {
            padding: 0px 5px 0px 5px;
        }
}
